@media screen and (min-width: 640px) {
  .Header {
    /* flex-direction: column; */
  }

  h1 {
    color: teal;
  }

  .Home {

    
  }

}




/* Header Styling */
.Header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

/* other cities */
nav a {
  /* color: white; */
  text-align: center;
  font-size: 2vh;
  font-weight: normal;
  margin: 0 8px;
  text-decoration: none;
  padding: 2vh;
}

nav {
  /* color: white; */
  border-bottom: 0.3vh solid black;
}

.navBar {
  color: black;
}


nav a:link, nav a:hover {
  color: white;
}

h1 {
  color: grey;
}

/* CITY NAME */
h2 {
  color: white;
  font-size: 10vh;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 2vh;
  padding-bottom: 12vh;

  letter-spacing: -4px;
}

.WeatherInfo {
  /* padding: 0 25px; */
  color: white;
  font-size: 2.2vh;
}

table {
  border-collapse: collapse;
  border: 0.3vh solid black;
  width: 100%;
}

td {
  border: 0.3vh solid black;
  width: 83%;
}

.weatherInfo_Type {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.7vh;
  margin: 1vh;
}

.WeatherDetails {
  color: black;
  text-transform: uppercase;
  font-size: 2.6vh;
  margin: 1vh;
}

.Numbers {
  color: black;
  text-align: center;
  font-size: 2.4vh;
  padding-right: 0.02vh;
}

h3 {
  font-size: 50px;
}

/* Font Awesome Icons */
.WeatherInfo_Display {
  display: flex;
  justify-content:space-around;
  flex-direction: row; 
  padding: 15px 30px 0;
	margin: auto;
}

.Icon {
  font-size: 15vh;
}




